.offer-card {
  border: 2px solid #8145c7;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  transition: transform 0.2s ease-in-out;
  height: 100%; 
  min-height: 500px; 
}

.offer-card:hover {
  transform: scale(1.03);
}

.offer-header {
  text-align: center;
}

.offer-name {
  font-size: 18px;
  font-weight: bold;
  color: #2c2d5b;
  margin: 5px 0;
}

.offer-role {
  font-size: 14px;
  color: #7d7d7d;
}

.offer-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  overflow: hidden;
}

.offer-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.offer-info {
  font-size: 14px;
}

.offer-client {
  display: flex;
  align-items: center;
  gap: 10px;
}

.client-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.offer-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.accept,
.reject {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.accept {
  background: #2ecc71;
}

.reject {
  background: #e74c3c;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-bar .form-control {
  flex-grow: 1;
}

.search-bar button {
  border-radius: 5px;
  padding: 6px 10px;
}

.status-button {
  padding: 8px 16px;
  border-radius: 999px;
  border: 2px solid transparent;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.status-completado {
  background-color: #2ecc71;
  color: white;
  border-color: #2ecc71;
}

.status-enprogreso {
  background-color: #f1c40f;
  color: black;
  border-color: #f1c40f;
}

.status-pendiente {
  background-color: #e74c3c;
  color: white;
  border-color: #e74c3c;
}


.status-tabs {
  display: flex;
  justify-content: center;
  gap: 12px; /* Espaciado horizontal entre botones */
  margin-bottom: 1.5rem;
}

