@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}


.barraDeBusqueda{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;

}

.opcionesIzquierda{
    color: black !important;
    font-family: 'Lato', sans-serif !important;
}

.opcionesDerecha{
    padding-right: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo{
    font-size: 24px;
    color: #2C2D5B;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    margin: 0%;

}

.usColor{
    color: #F67366;
    font-weight: 900;
}

select {
    border: none;
    outline: none;
    background-color: transparent;

  }
  
.busqueda{
    display: flex;
    gap: 30px;
}

.contenedor-ubicacion{
    display: flex;
    align-items: center;
}

.opcionSesion {
    padding: 20px 40px; 
    border: 1px solid #2C2D5B;
    color: #2C2D5B;
    border-radius: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 800;
}

.iniciarSesion{
    background-color: #2C2D5B;
    color: #FFFFFF;
    padding: 20px 40px; 
    border-radius: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 800;
}