@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Fuente global */
* {
    font-family: 'Lato', sans-serif;
}

.user-history-container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    position: relative;
}


.user-history-status {
    color: #333;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-top-right-radius: 30px;
    width: 146px;
}


.user-history-button {
    background-color: #2c2c63;
    border-color: #2c2c63;
    color: #fff;
    border-radius: 12px;
    padding: 10px 40px;
}

.user-history-button:hover {
    background-color: #1f1f49;
    border-color: #1f1f49;
    color: #fff;
}

.contenedor-texto {
    margin: 0%;
    padding: 0%;
}

.titulo-historial{
    font-weight: 800;
}

.user-history-description{
    color: #979797;
}

.user-history-description strong{
    color: black;
}

.status-en-proceso {
    background-color: #FFC107;

}

.status-completado {
    background-color: #54ED6B;

}

.status-cancelado {
    background-color: #ED3336;

}
